.fff {
    background-color: rgb(219, 201, 179);
}

.color {
    color: rgb(0, 0, 0);
    text-align: center;
}

.container .form::after {
    position: absolute;
    content: '';
    width: 110%;
    height: 1px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* .box .websites a.element.style {} */

.col-2 {
    text-decoration: none !important;
    background-color: blue;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.col-2:hover {
    background-color: #0000ff96;
}